.table {
   margin-top: 20px;
}

.form-control {
   max-width: 300px;
}

img {
   margin-right: 10px;
   vertical-align: middle;
}

th,
td {
   vertical-align: middle;
}

p {
   color: #666;
   margin-bottom: 20px;
}
