.form-group {
   margin-bottom: 15px;
}

.btn-primary {
   background-color: #112534;
   border-color: #112534;
}

.btn-primary:hover {
   background-color: #0056b3;
   border-color: #004085;
}

.btn-secondary:hover {
   background-color: #0056b3;
   border-color: #004085;
}

.invalid-feedback {
   display: block;
   color: #dc3545;
}

.is-invalid {
   border-color: #dc3545;
}
