.navigation {
   width: 100%;
   height: 100%;
   background-color: #f8f9fa;
   border-right: 1px solid #e9ecef;
   padding-left: 50px;
}

.nav-pills .nav-item button {
   background-color: transparent;
   border-radius: 0 0 8px 8px !important;
   color: #112534;
}

.nav-pills .nav-item button:hover {
   background-color: #0056b3;
   color: white;
}

.nav-pills .nav-item button.active {
   background-color: #112534;
   color: white;
}

.nav-pills .nav-item button.active:hover {
   background-color: #112534;
   color: white;
}
